@font-face {
    font-family: bookantiqua;
    src: url(../fonts/bookantiqua.ttf);
}

@font-face {
    font-family: arialmt;
    src: url(../fonts/arialmt.ttf);
}

@font-face {
    font-family: GaramondC;
    src: url(../fonts/GaramondC.otf);
}

@font-face {
    font-family: verdana;
    src: url(../fonts/verdana.ttf);
}

@font-face {
    font-family: tahoma;
    src: url(../fonts/tahoma.ttf);
}

:root {
    --black: black;
    --white: white;
    --brown-bcgk: #4e2c1e;
    --main-bcgk: #fffae8;
    --grey-brown: rgb(171, 110, 23);
    --orange: rgb(205, 142, 49);
    --mahogany-brown: rgb(78, 44, 30);
    --sandy-yellow: rgb(199, 168, 101);
    --border-table: rgb(211, 168, 108);
    --brown-head-table: rgb(129, 75, 4);
    --black-text-shadow: rgba(17, 17, 26, 0.46);

    --time-delation: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bcgk);
    background: url(../img/mainbcgk.png) var(--main-bcgk);
    max-width: 924px;
    margin: 0 auto;
    box-shadow: 0px 8px 18px 0 rgba(89, 55, 38, 0.44);
}

body>* {
    background: var(--main-bcgk);
}


a {
    text-decoration: none;
    color: var(--black);
}

li {
    list-style-type: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}



.center {
    padding: 0 calc(50% - 462px);
}

.header {
    &-top {
        background-color: var(--brown-bcgk);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 23px;
        height: 70px;
        font-family: bookantiqua;

        &__left-desc,
        &__right-desc {
            font-family: 'arialmt';
            font-size: 13px;
            line-height: normal;
            color: #35190d;
        }

        &__left {
            &--number {
                font-size: 26px;
                letter-spacing: 0.65px;
                color: var(--white);
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            width: 171px;
            position: relative;

            &--btn {
                padding: 4px;
                border: solid 1px #d8c992;
                background-image: linear-gradient(to top, #faedc7, #eacf8f, #e8c478, #fff9e0, #fff9e0);
                border-radius: 5px;
                height: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 4px 0px;

            }

        }
    }

    &-nav {
        background-image: linear-gradient(0deg, rgb(164, 103, 31) 0%, rgb(131, 76, 11) 14%, rgb(119, 71, 11) 25%, rgb(176, 120, 43) 55%, rgb(233, 192, 135) 100%);
        box-shadow: 0px -10px 0px var(--brown-bcgk), 0px 1px 0px 0px #d2b690, 0px 2px 0px 0px var(--brown-bcgk);
        height: 40px;
        position: relative;
        border-radius: 5px;
        z-index: 2;

        &-link {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 113px;
            position: relative;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(5),
            &:nth-child(6) {
                box-shadow: 1px 0px 0px #77470b, 2px 0px 0px 0px #d2b690;
            }

            &>a {
                font-size: 11px;
                font-family: 'verdana';
                color: var(--white);
                text-transform: uppercase;
                line-height: 1.2;
                text-shadow: 0px 1px 0px var(--black-text-shadow);
            }
        }

        &>ul {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        & ul li a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & ul li ul {
            width: 192px;
            height: 129px;
            top: 100%;
            position: absolute;
            z-index: 1;
            font-size: 14px;
            font-family: verdana;
            line-height: 2.286;
            background-color: #fcebc6;
            border: 1px solid rgb(191, 164, 133);

            & a {
                color: rgb(69, 37, 10);
                padding-left: 10px;
            }
        }
    }

    &-nav>ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        & a {
            color: var(--white);
        }
    }
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider__container {
    display: flex;
    height: 325px;
    box-shadow: 0px 1px 8px 0px rgba(178, 163, 143, 1);
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
}


.dots-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0px 9px;
    box-shadow: inset 0px 2px 3px 0 rgba(51, 27, 2, 0.75);
    background-image: linear-gradient(to bottom, rgba(199, 109, 2, 0.48), rgba(199, 109, 2, 0.48)), linear-gradient(to bottom, #4e2c1e, #e0b876);
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    position: relative;
    background-blend-mode: multiply;
    background-image: linear-gradient(to bottom, rgba(199, 109, 2, 0.48), rgba(199, 109, 2, 0.48)), linear-gradient(to bottom, #7c5544, #7c5544);
}

.dot.active::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(101, 46, 2, 0.5);
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/ornament.png);
    background-repeat: no-repeat;
    background-position: center;


    &-btn {
        border: 1px solid var(--sandy-yellow);
        background-image: linear-gradient(0deg, rgb(250, 237, 199) 0%, rgb(234, 207, 143) 13%, rgb(232, 196, 120) 58%, rgb(255, 249, 224) 96%, rgb(255, 249, 224) 100%);
        width: 126px;
        height: 29px;
        font-size: 13px;
        font-family: verdana;
        margin-top: 20px;
        color: var(--mahogany-brown);
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: 900;
        text-align: center;
        border-radius: 5px;



        &-wrapper-left {
            text-align: end;
        }

        &-wrapper-right {
            text-align: start;
        }
    }

    &__left {
        margin: 60px 38px 60px 60px;

        &-span {
            text-align: justify;
            display: block;
        }

        &>img {
            float: right;
            margin-left: 10px;
        }
    }

    &__right {
        margin: 60px 60px 60px 38px;

        &-right {
            text-align: justify;
            display: block;
        }

        &>img {
            float: left;
            margin-right: 10px;
        }
    }

    &__left,
    &__right {
        width: 50%;

        &-title {
            font-family: garamond;
            font-size: 23px;
            display: inline-block;
            margin-bottom: 28px;
            width: 150px;
        }

        &-desc {
            font-size: 13px;
            font-family: arialmt;
            color: rgb(53, 25, 13);
            line-height: 1.2;
        }


    }
}



.photo {
    display: flex;
    justify-content: space-around;
    padding: 0px 63px 31px 60px;
}



.main {
    color: var(--brown-bcgk);
    padding: 0px 25px 120px 25px;
    font-family: arialmt;

    &__title {
        margin: 0;
        font-size: 24px;
        margin-bottom: 18px;

        &-recruit {
            text-align: center;
            padding-top: 30px;
            margin-bottom: 30px;
            font-size: 25px;
            font-family: 'bookantiqua';
            color: var(--mahogany-brown);
        }
    }

    &__desc {
        font-size: 14px;
        font-family: Arial;
        color: var(--mahogany-brown);
        line-height: 1.2;

        & p {
            margin-bottom: 14px;
            text-align: justify;
            text-align-last: justify;
        }
    }

    &__calc {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgba(190, 137, 63, 0.14);
        box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.5), inset 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
        height: 107px;
        position: relative;
        width: 861px;
        margin: 0px auto 31px;
        font-size: 18px;
        font-family: Verdana;
        color: rgb(69, 37, 10);

        &-ornament {
            position: absolute;
            top: -9px;
            left: -10px;
            pointer-events: none;
        }

        &-mid {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            & p:not(:last-child) {
                margin-bottom: 17px;
            }
        }

        &-right>button {
            border: 1px solid rgb(171, 110, 23);
            background-image: linear-gradient(0deg, rgb(250, 237, 199) 0%, rgb(119, 71, 11) 0%, rgb(211, 149, 56) 73%, rgb(245, 220, 185) 96%, rgb(255, 249, 224) 100%);
            width: 145px;
            color: var(--white);
            height: 29px;
            border-radius: 5px;
            transition: var(--time-delation);
        }

        &-left {
            height: 69px;

            &>p {
                margin-bottom: 22px;
            }
        }
    }
}




.footer {
    &-nav {
        &__top {
            background-image: linear-gradient(to top, #4e2c1e, #4e2c1e);

            & ul li {
                position: relative;

                & a {
                    padding: 20px 40px;
                    color: var(--white);
                }

                &:not(:last-child) {
                    border-right: 1px solid white;
                }
            }

            & ul {
                text-shadow: 0px 1px 0 var(--black-text-shadow);
                font-family: Arial;
                font-size: 11px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                z-index: 2;
                box-shadow: 0px 1px 0px 0px var(--black);
                position: relative;
                padding: 20px 0px;
                text-transform: uppercase;
            }
        }
    }

    &__bottom {
        background-image: -webkit-gradient(linear, left bottom, left top, from(#a6845e), to(#79573d));
        color: var(--white);
        height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 40px;

        &>a {
            font-size: 19px;
            font-family: GaramondC;
            color: var(--white);
            line-height: 1.2;
        }

        & figure {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            font-family: tahoma;
            color: var(--white);
        }
    }
}

// popup
.application-popup,
.resume-popup {
    border: 1px solid var(--orange);
    background-image: linear-gradient(90deg, rgb(247, 236, 212) 0%, rgb(255, 255, 255) 100%);
    opacity: 0.871;
    position: absolute;
    width: 324px;
    height: 344px;
    z-index: 1;
    right: 0px;
    top: 34px;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 5;

    & input,
    textarea,
    select,
    .select_wrap_resume,
    .select_wrap_work,
    .select_wrap_time,
    #custom-file-upload {
        border: none;
        box-shadow: 0 0 0 1px var(--orange);
        // background-image: linear-gradient(90deg, rgb(255, 246, 226) 0%, rgb(255, 246, 226) 30%, rgb(255, 255, 255) 65%, rgb(255, 255, 255) 100%);
        background: var(--white);
        width: 306px;
        height: 30px;
        margin-top: 13px;
        padding: 0px 10px;
    }

    .select_wrap_work {
        z-index: 3;
    }

    & button {
        border: 1px solid var(--orange);
        background-image: linear-gradient(0deg, rgb(250, 237, 199) 0%, rgb(119, 71, 11) 0%, rgb(211, 149, 56) 73%, rgb(245, 220, 185) 96%, rgb(255, 249, 224) 100%);
        width: 145px;
        border-radius: 5px;
        height: 29px;
        margin-top: 33px;
        color: var(--white);
    }

    .custom-textarea {
        resize: none;
        // background-image: linear-gradient(90deg, rgb(255, 246, 226) 0%, rgb(255, 246, 226) 30%, rgb(255, 255, 255) 65%, rgb(255, 255, 255) 100%);
        background: var(--white);
        box-shadow: 0 0 0 1px var(--orange);
        height: 72px;
    }

}

.resume-popup {
    top: 66px;
    height: 292px;
}

.application-inactive {
    display: none;
}

/////end popup//// 


.show {
    display: block;
}

.main-logo {
    width: 240px;
    z-index: 1;
    position: relative;
    bottom: 5px;
}

.submenu {
    left: 0px;
}

ul.submenu>li>a.submenu-dropbox {
    justify-content: unset;
}

.submenu-btn-active {
    border: 1px solid rgb(216, 201, 146);
    background-image: -webkit-linear-gradient(90deg, rgb(250, 237, 199) 0%, rgb(234, 207, 143) 13%, rgb(232, 196, 120) 58%, rgb(255, 249, 224) 96%, rgb(255, 249, 224) 100%);
}

.range-inp {
    border: 1px solid rgb(177, 177, 177);
    background-color: var(--white);
    width: 40px;
    height: 31px;
    text-align: center;
    padding: 5px;
}

.table {
    margin-bottom: 40px;

    &-wrapper {
        text-align: center;
        width: 100%;
    }

    &__head {
        background: var(--brown-head-table);
        background-image: linear-gradient(360deg, rgb(164, 103, 31) 0%, rgb(131, 76, 11) 3%, rgb(119, 71, 11) 13%, rgb(176, 120, 43) 63%, rgb(233, 192, 135) 100%);
        height: 35px;
        color: var(--white);
        font-size: 15px;
        font-family: Arial;
        color: var(--white);
        text-transform: uppercase;
        line-height: 1.2;
        text-shadow: 0px 1px 0px var(--black-text-shadow);

        &-name {
            width: 348px;
        }

        &-position {
            width: 228px;
        }

        &-age {
            width: 143px;
        }

        &-timework {
            width: 159px;
        }

        &-name,
        &-position,
        &-age,
        &-timework {
            font-weight: 300;
        }
    }

    &__body {
        font-size: 15px;
        font-family: Verdana;
        color: var(--brown-head-table);

        & tr {
            height: 31px;
        }
    }
}

table {
    border-collapse: collapse;
}

thead th {
    border: 1px solid var(--border-table);
}

tr:nth-child(2n) td {
    border: 1px solid var(--border-table);
    background-color: var(--white);
}

.main:after {
    content: '';
}



.wrapper .title {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.select_wrap,
.select_wrap_resume,
.select_wrap_time,
.select_wrap_work {
    width: 201px;
    position: relative;
    user-select: none;
}


.select_wrap .default_option {
    background: var(--white);
    padding-left: 12px;
    box-shadow: 0 0 0 1px var(--orange);
    position: relative;
    cursor: pointer;
    height: 31px;
}

.select_wrap_resume .default_option_resume,
.select_wrap_work .default_option_work,
.select_wrap_time .default_option_time {
    height: 31px;
    color: rgb(85, 73, 63);
}

.select_wrap .default_option li,
.select_wrap_resume .default_option_resume li,
.select_wrap_work .default_option_work li,
.select_wrap_time .default_option_time li {
    // padding: 0px 12px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}


.select_wrap .default_option:before,
.select_wrap_resume .default_option_resume:before,
.select_wrap_work .default_option_work:before,
.select_wrap_time .default_option_time:before {
    content: url(../img/dropBtn.svg);
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0px, -50%);
    height: 100%;
    width: 27px;
    display: flex;
    background: linear-gradient(360deg, rgb(250, 237, 199) 0%, rgb(231, 203, 164) 0%, rgb(236, 195, 133) 8%, rgb(229, 178, 102) 15%, rgb(228, 172, 89) 86%, rgb(245, 220, 185) 96%, rgb(255, 249, 224) 100%);
    align-items: center;
    justify-content: center;
}


.select_wrap .select_ul,
.select_wrap_resume .select_ul_resume,
.select_wrap_work .select_ul_work,
.select_wrap_time .select_ul_time {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    background: #fff;
    display: none;
    background-color: rgb(252, 235, 198);
}

.select_wrap .select_ul li,
.select_wrap_resume .select_ul_resume li,
.select_wrap_work .select_ul_work li,
.select_wrap_time .select_ul_time li {
    padding: 10px;
    cursor: pointer;
    height: 33px;
    display: flex;
    align-items: center;
}


.select_wrap .select_ul li:hover,
.select_wrap_resume .select_ul_resume li:hover,
.select_wrap_work .select_ul_work li:hover,
.select_wrap_time .select_ul_time li:hover {
    background-color: rgb(216, 175, 117);
}

.select_wrap .option,
.select_wrap_resume .option_resume,
.select_wrap_work .option_work,
.select_wrap_time .option_time {
    display: flex;
    align-items: center;
}

.select_wrap.active .select_ul,
.select_wrap_resume.active .select_ul_resume,
.select_wrap_work.active .select_ul_work,
.select_wrap_time.active .select_ul_time {
    display: block;
    box-shadow: 0 0 0 1px var(--orange);
    font-family: "Verdana";
    color: rgb(69, 37, 10);
}

.select_wrap ul.select_ul-search>li {
    padding: 0px 12px;
}

#custom-file-upload {
    display: flex;
    align-items: center;
    color: #55493F
}

.personal-el {
    background-image: linear-gradient(to top, #150702, #5e3625, #82451c), linear-gradient(to bottom, #4e2c1e, #4e2c1e);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#150702), color-stop(#5e3625), to(#82451c)), -webkit-gradient(linear, left top, left bottom, from(#4e2c1e), to(#4e2c1e));
    color: #4e2c1e;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#btn-application,
#btn-resume {
    font-size: 14px;
    font-family: Verdana;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}