* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: UZSans;
}

@font-face {
    font-family: UZSans;
    src: url(../fonts/UZSans-Regular.ttf);
}

:root {
    --hover-link: 0.5s,
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.center {
    padding: 0 calc(50% - 700px);
}

body {
    // background: gainsboro;
}

.header {
    box-shadow: 0px -10px 10px 5px black;
    background: white;

    &-nav-ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;

        & li {
            & a {
                display: block;
                padding: 15px;
                color: black;
                transition: let(--hover-link);

                &:hover {
                    color: darkblue
                }
            }
        }
    }

}

.custom-margin {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.main {
    &-title {
        text-align: center;
        margin: 50px 0px;
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.text {
    &-first {
        // white-space: break-spaces;
    }

    &-custom-center {
        text-align: center;

        & p {
            width: 500px;
            margin: 20px auto;
        }
    }
}

.table-score {
    border-collapse: collapse;
    text-align: center;

    & thead {
        background-color: gainsboro;
    }

    & tr {
        border: 1px solid black;
    }

    & td {
        border-right: 1px solid black;
        width: 50%;
    }

    & tr:nth-child(2n) {
        background-color: gainsboro;
    }
}

.text-center {
    text-align: center;
    margin: 35px 0px;
}

.line {
    width: 35px;
    height: 3px;
    display: block;
    background: black;
}

.line1,
.line2 {
    margin-bottom: 5px;
}

nav.header-nav>a,
.hamburger-lines {
    display: none;
}

.main>h1 {
    margin-left: 10px;
    margin-right: 10px;
}

.mobile-ind {
    color: black;
}

.visible {
    display: flex !important;
}

.block-scroll {
    overflow: hidden;
}

.mobile-menu {
    background: rgba(50, 50, 50, 1.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    display: none;

}

form {
    margin: 10px;
}

table {
    margin: 10px;
}

p,
.text-first {
    margin: 10px;
    line-height: 20px;
}

.mobile-menu-block li a {
    display: block;
    color: white;
    font-size: 30px;
    padding: 10px;
}

.mobile-menu-block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    margin: auto;
}

@media (min-width:768px) {
    .mobile-menu-block li a {
        display: none;
    }
}

@media (max-width:935px) {
    div.main-wrapper img {
        width: 250px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width:850px) {
    div.main-wrapper {
        flex-direction: column;
    }

    div.main-wrapper img {
        margin-bottom: 30px;
    }

}




@media (max-width:768px) {
    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 30px;
    }

    nav.header-nav>a,
    .hamburger-lines {
        display: block;
    }

    .header-nav {
        width: auto;
    }

    ul.header-nav-ul {
        display: none;
    }

    img {
        width: 90%;
    }



    .main>h1 {
        font-size: 10px;
    }

}

.quest{
    margin: 30px 0px 10px 0px;
    display: block;
    font-weight: 900;
    font-size: 26px;
}

.andrey{
    margin-bottom: 20px;
}

label{
    display: block;
}

.test-link{
    padding: 10px;
    display: block;
}

.custom-image{
    margin: 10px;
}