    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    input,
    button {
        border: none;
        outline: none;
    }
    
    @font-face {
        font-family: Myriad Pro;
        src: url(../fonts/MYRIADPRO-REGULAR.OTF);
    }
    
    li {
        list-style-type: none;
    }
    
     :root {
        --button-bgk: #008DCD;
        --bgk-color: #F7F7F7;
        --text-white: white;
        --button-orange: #FFCC00;
        --black: black;
        --more-info: #D2ECF7;
        --border-color: #363636;
        --footer-hr: #C4C4C4;
        --footer-bgk: #E9E9E9;
        --transition-time: 0.4s;
        --scale-text-hover: 1.1;
        --transition-text: 0.5s;
    }
    
    a {
        text-decoration: none;
        display: block;
        color: var(--black);
    }
    
    .center {
        padding: 0 calc(50% - 680px);
    }
    
    .main-btn {
        background: var(--button-bgk);
        border-radius: 30px;
        color: var(--text-white);
        width: 360px;
        height: 48px;
        font-family: Myriad Pro;
        font-size: 16px;
        letter-spacing: 0em;
        text-align: center;
        cursor: pointer;
        transition: var(--transition-time);
        &:hover {
            filter: drop-shadow(0px 0px 15px var(--button-bgk));
        }
    }
    
    .header {
        background: url(../img/header__img.png) no-repeat center center;
        color: var(--text-white);
        &-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // padding-top: 5px;
            padding-top: 20px;
            & a img {
                margin-left: 20px;
            }
        }
    }
    
    .header-title {
        display: flex;
        justify-content: space-around;
        align-items: center;
        & li a {
            color: var(--text-white);
            padding-top: 10px;
            font-family: Myriad Pro;
            font-size: 18px;
            letter-spacing: 0em;
            transition: var(--transition-text);
            &:hover {
                transform: scale(var(--scale-text-hover));
            }
        }
    }
    
    .header-content {
        margin-top: 100px;
        margin-left: 20px;
        & h1 {
            margin-top: 50px;
            font-family: Myriad Pro;
            font-size: 48px;
            letter-spacing: 0em;
        }
        & h2 {
            margin-top: 40px;
            font-family: Myriad Pro;
            font-size: 36px;
            letter-spacing: 0em;
        }
        & button {
            margin: 30px 0px 140px 0px;
        }
    }
    
    .agregator {
        display: flex;
        align-items: center;
        background: var(--bgk-color);
        justify-content: space-between;
        padding-top: 60px;
        padding-bottom: 60px;
        &-desc {
            width: 460px;
        }
        &-desc h3 {
            font-family: Myriad Pro;
            font-size: 36px;
            letter-spacing: 0em;
            margin-bottom: 30px;
        }
        &-desc p {
            font-family: Myriad Pro;
            font-size: 16px;
            letter-spacing: 0em;
            margin-bottom: 50px;
        }
        &-btn {
            background: var(--button-bgk);
            border-radius: 30px;
            color: var(--text-white);
            width: 360px;
            height: 48px;
            font-family: Myriad Pro;
            font-size: 16px;
            letter-spacing: 0em;
            text-align: center;
            cursor: pointer;
            transition: var(--transition-time);
            &:hover {
                filter: drop-shadow(0px 0px 15px var(--button-bgk));
            }
        }
    }
    
    .mans {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 60px 140px;
        margin: 70px 40px 35px 40px;
        &-elem {
            // width: 462px;
            & h3 {
                font-family: Myriad Pro;
                font-size: 30px;
                letter-spacing: 0em;
            }
            & p {
                font-family: Myriad Pro;
                font-size: 20px;
                letter-spacing: 0em;
            }
        }
    }
    
    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--bgk-color);
        height: 180px;
        &-header {
            font-family: Myriad Pro;
            font-size: 36px;
            letter-spacing: 0em;
            margin-left: 10px;
        }
        &-btn {
            background: var(--button-bgk);
            border-radius: 30px;
            color: var(--text-white);
            width: 360px;
            height: 48px;
            font-family: Myriad Pro;
            font-size: 16px;
            letter-spacing: 0em;
            text-align: center;
            cursor: pointer;
            transition: var(--transition-time);
            margin-right: 10px;
            &:hover {
                filter: drop-shadow(0px 0px 15px var(--button-bgk));
            }
        }
    }
    
    .feedback {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--button-bgk);
        color: var(--text-white);
        height: 240px;
        &-left {
            &-title {
                font-family: Myriad Pro;
                font-size: 48px;
                letter-spacing: 5px;
            }
            &-text {
                font-family: Myriad Pro;
                font-size: 24px;
                letter-spacing: 0em;
            }
        }
        &-right {
            display: flex;
            flex-direction: column;
            &-num {
                height: 48px;
                width: 360px;
                left: 940px;
                top: 2338px;
                border-radius: 30px;
                padding-left: 30px;
            }
            &-btn {
                background: var(--button-orange);
                border-radius: 30px;
                color: var(--black);
                width: 360px;
                height: 48px;
                font-family: Myriad Pro;
                font-size: 16px;
                letter-spacing: 0em;
                text-align: center;
                cursor: pointer;
                margin-top: 10px;
                transition: var(--transition-time);
                &:hover {
                    filter: drop-shadow(0px 0px 15px var(--button-orange));
                }
            }
            &-label {
                display: flex;
                align-items: center;
                margin-top: 18px;
                &-check {
                    background: transparent
                }
                &-text {
                    font-family: Myriad Pro;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: 0em;
                    margin-left: 8px;
                }
            }
        }
    }
    
    // .modal-win {
    //     height: 100vh;
    //     width: 100vw;
    //     position: relative;
    // }
    .modalActive {
        filter: blur(2px);
        overflow: hidden;
    }
    
    .modal-win {
        top: 250%;
        position: absolute;
        left: 50%;
    }
    
    .feedback-modal-win {
        padding-bottom: 30px;
        filter: drop-shadow(2px 4px 6px var(--black));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: var(--text-white);
        width: 440px;
        margin: auto;
        height: 336px;
        position: absolute;
        left: 50%;
        border-radius: 32px;
        transform: translate(-50%);
        &-close {
            cursor: pointer;
            position: absolute;
            top: 30px;
            left: 400px;
            height: 40px;
            width: 33px;
            padding: 20px 30px 20px 10px;
        }
        &-close:before,
        &-close:after {
            content: "";
            position: absolute;
            width: 24px;
            height: 4px;
            background: gray;
        }
        &-close:before {
            transform: rotate(45deg);
        }
        &-close:after {
            transform: rotate(-45deg);
        }
        & h4 {
            font-family: Myriad Pro;
            font-size: 20px;
            letter-spacing: 0em;
            text-align: center;
            margin-top: 70px;
        }
        &-name,
        &-num {
            border: 1px solid var(--button-bgk);
            border-radius: 30px;
            padding-left: 30px;
            font-family: Myriad Pro;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0em;
            margin-bottom: 7px;
            height: 48px;
            width: 360px;
            border-radius: 30px;
        }
    }
    
    .reviews {
        margin: 70px 0px;
        &-data {
            margin-left: 200px
        }
        &-name {
            font-family: Myriad Pro;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0em;
            margin-bottom: 20px;
        }
        &-link {
            font-family: Myriad Pro;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0em;
            margin-bottom: 10px;
        }
        &-item,
        &-from,
        &-to {
            //styleName: Txt;
            font-family: Myriad Pro;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0em;
            margin-bottom: 5px;
        }
    }
    
    .wrapper-reviews {
        display: flex;
        // align-items: center;
        justify-content: space-around;
        margin-top: 55px;
        &-face {
            float: left;
        }
        &-left,
        &-right {
            width: 460px;
        }
    }
    
    .reviews-text {
        font-family: Myriad Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0em;
        margin-top: 70px;
    }
    
    .advantages {
        background: var(--bgk-color);
        padding-top: 101px;
        padding-bottom: 101px;
        &-nav {
            display: flex;
            // align-items: center;
            // justify-content: space-between;
            justify-content: space-around;
            text-align: center;
            &-elem img {
                z-index: 2;
            }
            &-text {
                width: 160px;
                margin-top: 35px;
            }
        }
        &-dot {
            background: var(--text-white);
            border-radius: 50%;
            width: 160px;
            height: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    .big-text {
        font-family: Myriad Pro;
        font-size: 36px;
        letter-spacing: 0em;
        margin-bottom: 30px;
        margin-left: 10px;
    }
    
    .guarantees {
        margin: 80px 0px 105px 0px;
        position: relative;
        &-nav {
            display: flex;
            // align-items: center;
            // justify-content: space-between;
            justify-content: space-around;
        }
        &-wrapper {
            width: 369px;
        }
        &-dot {
            background: var(--bgk-color);
            border-radius: 50%;
            width: 160px;
            height: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-name {
            font-family: Myriad Pro;
            font-size: 30px;
            letter-spacing: 0em;
            margin-bottom: 15px;
        }
        &-text {
            font-family: Myriad Pro;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0em;
            margin-bottom: 30px;
        }
        &-btn {
            position: absolute;
            bottom: -30px;
        }
    }
    
    .more-info {
        background: var(--more-info);
        padding-top: 64px;
        padding-bottom: 64px;
        &-drop-menu {
            margin: 10px 0px;
        }
        &-drop-menu[open] {
            background-color: var(--text-white);
            border-radius: 50px;
        }
        &-drop-menu[open] summary {
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
        }
        &-drop-menu summary::marker {
            content: url(../img/arrow-down.svg);
        }
        &-drop-menu[open] summary::marker {
            content: url(../img/arrow-down.svg);
        }
        &-helper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-wrapper {
            display: flex;
            justify-content: space-between;
        }
        &-summory {
            background: var(--text-white);
            width: 558px;
            cursor: pointer;
            border-radius: 200px;
            font-family: Myriad Pro;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0em;
            padding: 15px 36px 20px 36px;
            height: 70px;
            // justify-content: center;
            display: flex;
            align-items: center;
        }
        &-text {
            font-family: Myriad Pro;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0em;
            width: 558px;
            background: var(--text-white);
            padding-bottom: 20px;
            border-bottom-right-radius: 50px;
            border-bottom-left-radius: 50px;
            padding-left: 30px;
        }
    }
    
    .sponsors {
        margin: 55px 0px;
        &-wrapper,
        &-icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    
    .slide-right {
        transform: rotate(180deg);
    }
    
    .slide-right,
    .slide-left,
    .sponsors-icons img {
        // padding: 30px;
        box-sizing: content-box;
    }
    
    .footer {
        background: var(--footer-bgk);
        padding-top: 31px;
        padding-bottom: 23px;
        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0px 1px var(--footer-hr);
            padding-bottom: 15px;
            &-tite {
                font-family: Myriad Pro;
                font-size: 30px;
                letter-spacing: 0em;
            }
            &-phone {
                width: 362px;
                height: 50px;
                border: 1px solid var(--border-color);
                border-radius: 30px;
                padding-left: 30px;
                font-family: Myriad Pro;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                letter-spacing: 0em;
                margin-bottom: 7px;
            }
            &-data {
                display: flex;
                align-items: center;
                & p {
                    margin-left: 7px;
                    font-size: 10px;
                }
            }
        }
    }
    
    .footer-mid {
        padding: 25px;
        box-shadow: 0px 1px var(--footer-hr);
        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & li a {
                font-family: Myriad Pro;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                letter-spacing: 0em;
                transition: var(--transition-text);
                &:hover {
                    transform: scale(var(--scale-text-hover));
                }
            }
        }
    }
    
    .footer-bot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        &-title,
        &-date,
        &-author {
            font-family: Myriad Pro;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0em;
        }
        &-nav ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            & li a {
                padding: 20px;
            }
        }
    }
    
    //Адаптив//////////////////////
    @media (min-width:1441px) {
        .header-title li a {
            padding: 10px 25px;
        }
        .bring,
        .cdek,
        .city_express,
        .dpd,
        .pony,
        .spsr,
        .ups {
            padding: 30px;
        }
    }
    
    @media (max-width: 1440px) and (min-width: 768px) {
        .header {
            &-title li a {
                font-size: calc(14px + 4 * (100vw - 768px) / (1440 - 768));
                padding-left: calc(15px + (50 - 20) * (100vw - 768px) / (1440 - 768));
                padding-right: calc(15px + (60 - 20) * (100vw - 768px) / (1440 - 768));
            }
            &-nav a img {
                width: 100px;
                height: 29px;
            }
            &-content h1 {
                font-size: calc(44px + (48 - 44) * (100vw - 768px) / (1440 - 768));
            }
            &-content h2 {
                font-size: calc(36px + (36 - 28) * (100vw - 768px) / (1440 - 768));
            }
        }
        .agregator {
            &-carton {
                width: calc(398px + (660 - 398) * (100vw - 768px) / (1440 - 768));
                height: calc(202px + (335 - 202) * (100vw - 768px) / (1440 - 768));
                margin-left: 10px;
            }
            &-desc {
                width: calc(280px + (460 - 280) * (100vw - 768px) / (1440 - 768));
                margin-right: 10px;
            }
            & h3 {
                font-size: calc(28px + (36 - 28) * (100vw - 768px) / (1440 - 768));
            }
            & p {
                font-size: calc(14px + (16 - 14) * (100vw - 768px) / (1440 - 768));
            }
            &-btn {
                width: calc(276px + (360 - 276) * (100vw - 768px) / (1440 - 768));
            }
        }
        .mans-elem {
            & h3 {
                font-size: calc(26px + (30 - 26) * (100vw - 768px) / (1440 - 768));
            }
            & p {
                font-size: calc(16px + (20 - 16) * (100vw - 768px) / (1440 - 768));
            }
            & img {
                width: calc(280px + (462 - 280) * (100vw - 768px) / (1440 - 768));
                height: calc(189px + (312 - 189) * (100vw - 768px) / (1440 - 768));
            }
        }
        .info {
            &-header {
                font-size: calc(28px + (36 - 28) * (100vw - 768px) / (1440 - 768));
            }
            &-btn {
                width: calc(280px + (462 - 280) * (100vw - 768px) / (1440 - 768));
            }
        }
        .feedback {
            &-left {
                margin-left: 10px;
                &-title {
                    font-size: calc(28px + (48 - 28) * (100vw - 768px) / (1440 - 768));
                }
                &-text {
                    font-size: calc(14px + (24 - 14) * (100vw - 768px) / (1440 - 768));
                }
            }
            &-right {
                margin-right: 10px;
                &-num,
                &-btn {
                    width: calc(280px + (360 - 280) * (100vw - 768px) / (1440 - 768));
                }
            }
        }
        .wrapper-reviews {
            &-left img,
            &-right img {
                width: calc(160px + (160 - 100) * (100vw - 768px) / (1440 - 768));
                height: calc(160px + (160 - 100) * (100vw - 768px) / (1440 - 768));
            }
            &-left,
            &-right {
                width: calc(280px + (460 - 280) * (100vw - 768px) / (1440 - 768));
            }
        }
        .reviews-text {
            font-size: calc(14px + (16 - 14) * (100vw - 768px) / (1440 - 768));
        }
        .reviews-name {
            font-size: calc(26px + (36 - 26) * (100vw - 768px) / (1440 - 768));
        }
        .reviews-link {
            font-size: calc(18px + (20 - 18) * (100vw - 768px) / (1440 - 768));
        }
        .reviews-item,
        .reviews-from,
        .reviews-to {
            font-size: calc(10px + (16 - 10) * (100vw - 768px) / (1440 - 768));
        }
        .reviews-text {
            margin-top: calc(50px + (85 - 62) * (100vw - 768px) / (1440 - 768));
        }
        .reviews-data {
            margin-left: calc(180px + (380 - 300) * (100vw - 768px) / (1440 - 768));
        }
        .advantages {
            &-dot {
                width: calc(100px + (160 - 100) * (100vw - 768px) / (1440 - 768));
                height: calc(100px + (160 - 100) * (100vw - 768px) / (1440 - 768));
            }
            &-nav-elem {
                width: calc(100px + (160 - 100) * (100vw - 768px) / (1440 - 768));
                & p {
                    width: calc(100px + (160 - 100) * (100vw - 768px) / (1440 - 768));
                }
            }
            &-nav-text {
                font-size: calc(12px + (18 - 12) * (100vw - 768px) / (1440 - 768));
            }
            .first-img {
                width: calc(56px + (84 - 56) * (100vw - 768px) / (1440 - 768));
                height: calc(32px + (49 - 32) * (100vw - 768px) / (1440 - 768));
            }
            .second-img {
                width: calc(40px + (62 - 40) * (100vw - 768px) / (1440 - 768));
                height: calc(48px + (76 - 48) * (100vw - 768px) / (1440 - 768));
            }
            .third-img {
                width: calc(42px + (66 - 42) * (100vw - 768px) / (1440 - 768));
                height: calc(42px + (66 - 42) * (100vw - 768px) / (1440 - 768));
            }
            .four-img {
                width: calc(43px + (68 - 43) * (100vw - 768px) / (1440 - 768));
                height: calc(37px + (61 - 37) * (100vw - 768px) / (1440 - 768));
            }
            .five-img {
                width: calc(44px + (68 - 44) * (100vw - 768px) / (1440 - 768));
                height: calc(43px + (66 - 43) * (100vw - 768px) / (1440 - 768));
            }
            .six-img {
                width: calc(47px + (74 - 47) * (100vw - 768px) / (1440 - 768));
                height: calc(36px + (58 - 36) * (100vw - 768px) / (1440 - 768));
            }
        }
        .guarantees {
            &-name {
                font-size: calc(20px + (30 - 20) * (100vw - 768px) / (1440 - 768));
            }
            &-text {
                font-size: calc(12px + (16 - 12) * (100vw - 768px) / (1440 - 768));
            }
            &-btn {
                width: calc(220px + (360 - 220) * (100vw - 768px) / (1440 - 768));
            }
            &-wrapper {
                width: calc(217px + (396 - 217) * (100vw - 768px) / (1440 - 768));
            }
        }
        .more-info {
            &-wrapper {
                margin-left: 10px;
                margin-right: 10px;
            }
            &-summory,
            &-text {
                width: calc(350px + (558 - 350) * (100vw - 768px) / (1440 - 768));
            }
        }
        .bring,
        .cdek,
        .city_express,
        .dpd,
        .pony,
        .spsr,
        .ups {
            width: calc(66px + (94 - 66) * (100vw - 768px) / (1440 - 768));
            padding: calc(15px + (30 - 15) * (100vw - 768px) / (1440 - 768));
        }
        .slide-left {
            margin-left: 20px;
        }
        .slide-right {
            margin-right: 20px;
        }
        .footer {
            &-top-tite {
                font-size: calc(20px + (30 - 20) * (100vw - 768px) / (1440 - 768));
                margin-left: 10px;
            }
            &-top-phone {
                width: calc(220px + (362 - 220) * (100vw - 768px) / (1440 - 768));
            }
        }
        .order-call {}
        .footer-mid-wrapper li a {
            font-size: calc(14px + (18 - 14) * (100vw - 768px) / (1440 - 768));
        }
        .footer-image {
            width: calc(99px + (160 - 99) * (100vw - 768px) / (1440 - 768));
            height: calc(30px + (47 - 30) * (100vw - 768px) / (1440 - 768));
        }
    }
    
    @media (max-width: 767px) and (min-width: 320px) {
        .more-info {
            &-wrapper {
                flex-direction: column;
            }
        }
    }