* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
button {
  border: none;
  outline: none;
}

@font-face {
  font-family: Myriad Pro;
  src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}

li {
  list-style-type: none;
}

:root {
  --button-bgk: #008DCD;
  --bgk-color: #F7F7F7;
  --text-white: white;
  --button-orange: #FFCC00;
  --black: black;
  --more-info: #D2ECF7;
  --border-color: #363636;
  --footer-hr: #C4C4C4;
  --footer-bgk: #E9E9E9;
  --transition-time: 0.4s;
  --scale-text-hover: 1.1;
  --transition-text: 0.5s;
}

a {
  text-decoration: none;
  display: block;
  color: var(--black);
}

.center {
  padding: 0 calc(50% - 680px);
}

.main-btn {
  background: var(--button-bgk);
  border-radius: 30px;
  color: var(--text-white);
  width: 360px;
  height: 48px;
  font-family: Myriad Pro;
  font-size: 16px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: var(--transition-time);
  transition: var(--transition-time);
}

.main-btn:hover {
  -webkit-filter: drop-shadow(0px 0px 15px var(--button-bgk));
          filter: drop-shadow(0px 0px 15px var(--button-bgk));
}

.header {
  background: url(../img/header__img.png) no-repeat center center;
  color: var(--text-white);
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title li a {
  color: var(--text-white);
  padding: 20px;
  font-family: Myriad Pro;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0em;
  -webkit-transition: var(--transition-text);
  transition: var(--transition-text);
}

.header-title li a:hover {
  -webkit-transform: scale(var(--scale-text-hover));
          transform: scale(var(--scale-text-hover));
}

.header-content {
  margin-top: 100px;
}

.header-content h1 {
  margin-top: 50px;
  font-family: Myriad Pro;
  font-size: 48px;
  letter-spacing: 0em;
}

.header-content h2 {
  margin-top: 40px;
  font-family: Myriad Pro;
  font-size: 36px;
  letter-spacing: 0em;
}

.header-content button {
  margin: 30px 0px 140px 0px;
}

.agregator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--bgk-color);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.agregator-desc {
  width: 460px;
}

.agregator-desc h3 {
  font-family: Myriad Pro;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0em;
  margin-bottom: 30px;
}

.agregator-desc p {
  font-family: Myriad Pro;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  margin-bottom: 50px;
}

.agregator-btn {
  background: var(--button-bgk);
  border-radius: 30px;
  color: var(--text-white);
  width: 360px;
  height: 48px;
  font-family: Myriad Pro;
  font-size: 16px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: var(--transition-time);
  transition: var(--transition-time);
}

.agregator-btn:hover {
  -webkit-filter: drop-shadow(0px 0px 15px var(--button-bgk));
          filter: drop-shadow(0px 0px 15px var(--button-bgk));
}

.mans {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 60px 140px;
  margin: 70px 40px 35px 40px;
}

.mans-elem {
  width: 462px;
}

.mans-elem h3 {
  font-family: Myriad Pro;
  font-size: 30px;
  letter-spacing: 0em;
}

.mans-elem p {
  font-family: Myriad Pro;
  font-size: 20px;
  letter-spacing: 0em;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--bgk-color);
  height: 180px;
}

.info-header {
  font-family: Myriad Pro;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0em;
}

.info-btn {
  background: var(--button-bgk);
  border-radius: 30px;
  color: var(--text-white);
  width: 360px;
  height: 48px;
  font-family: Myriad Pro;
  font-size: 16px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: var(--transition-time);
  transition: var(--transition-time);
}

.info-btn:hover {
  -webkit-filter: drop-shadow(0px 0px 15px var(--button-bgk));
          filter: drop-shadow(0px 0px 15px var(--button-bgk));
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--button-bgk);
  color: var(--text-white);
  height: 240px;
}

.feedback-left-title {
  font-family: Myriad Pro;
  font-size: 48px;
  letter-spacing: 5px;
}

.feedback-left-text {
  font-family: Myriad Pro;
  font-size: 24px;
  letter-spacing: 0em;
}

.feedback-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback-right-num {
  height: 48px;
  width: 360px;
  left: 940px;
  top: 2338px;
  border-radius: 30px;
  padding-left: 30px;
}

.feedback-right-btn {
  background: var(--button-orange);
  border-radius: 30px;
  color: var(--black);
  width: 360px;
  height: 48px;
  font-family: Myriad Pro;
  font-size: 16px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  -webkit-transition: var(--transition-time);
  transition: var(--transition-time);
}

.feedback-right-btn:hover {
  -webkit-filter: drop-shadow(0px 0px 15px var(--button-orange));
          filter: drop-shadow(0px 0px 15px var(--button-orange));
}

.feedback-right-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 18px;
}

.feedback-right-label-check {
  background: transparent;
}

.feedback-right-label-text {
  font-family: Myriad Pro;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  margin-left: 8px;
}

.feedback-modal-win {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--text-white);
  width: 440px;
  margin: auto;
  height: 336px;
  position: absolute;
  left: 50%;
  border-radius: 32px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.feedback-modal-win-close {
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 400px;
  height: 40px;
  width: 33px;
  padding: 20px 30px 20px 10px;
}

.feedback-modal-win-close:before, .feedback-modal-win-close:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  background: gray;
}

.feedback-modal-win-close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.feedback-modal-win-close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.feedback-modal-win h4 {
  font-family: Myriad Pro;
  font-size: 20px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 70px;
}

.feedback-modal-win-name, .feedback-modal-win-num {
  border: 1px solid var(--button-bgk);
  border-radius: 30px;
  padding-left: 30px;
  font-family: Myriad Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  margin-bottom: 7px;
  height: 48px;
  width: 360px;
  border-radius: 30px;
}

.reviews {
  margin: 70px 0px;
}

.reviews-data {
  margin-left: 200px;
}

.reviews-name {
  font-family: Myriad Pro;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  margin-bottom: 20px;
}

.reviews-link {
  font-family: Myriad Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  margin-bottom: 10px;
}

.reviews-item, .reviews-from, .reviews-to {
  font-family: Myriad Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  margin-bottom: 5px;
}

.wrapper-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 55px;
}

.wrapper-reviews-face {
  float: left;
}

.wrapper-reviews-left, .wrapper-reviews-right {
  width: 460px;
}

.reviews-text {
  font-family: Myriad Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  margin-top: 27px;
}

.advantages {
  background: var(--bgk-color);
  padding-top: 101px;
  padding-bottom: 101px;
}

.advantages-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.advantages-nav-elem img {
  z-index: 2;
}

.advantages-nav-text {
  width: 160px;
  margin-top: 35px;
}

.advantages-dot {
  background: var(--text-white);
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big-text {
  font-family: Myriad Pro;
  font-size: 36px;
  letter-spacing: 0em;
  margin-bottom: 30px;
}

.guarantees {
  margin: 80px 0px 105px 0px;
  position: relative;
}

.guarantees-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guarantees-wrapper {
  width: 369px;
}

.guarantees-dot {
  background: var(--bgk-color);
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guarantees-name {
  font-family: Myriad Pro;
  font-size: 30px;
  letter-spacing: 0em;
  margin-bottom: 15px;
}

.guarantees-text {
  font-family: Myriad Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  margin-bottom: 30px;
}

.guarantees-btn {
  position: absolute;
  bottom: -30px;
}

.more-info {
  background: var(--more-info);
  padding-top: 64px;
  padding-bottom: 64px;
}

.more-info-drop-menu {
  margin: 10px 0px;
}

.more-info-drop-menu[open] {
  background-color: var(--text-white);
  border-radius: 50px;
}

.more-info-drop-menu[open] summary {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.more-info-drop-menu summary::marker {
  content: url(../img/arrow-down.svg);
}

.more-info-drop-menu[open] summary::marker {
  content: url(../img/arrow-down.svg);
}

.more-info-helper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.more-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.more-info-summory {
  background: var(--text-white);
  width: 558px;
  cursor: pointer;
  border-radius: 200px;
  font-family: Myriad Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  padding: 15px 36px 20px 36px;
}

.more-info-text {
  font-family: Myriad Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  width: 558px;
  background: var(--text-white);
  padding-bottom: 20px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-left: 30px;
}

.sponsors {
  margin: 55px 0px;
}

.sponsors-wrapper, .sponsors-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slide-right,
.slide-left,
.sponsors-icons img {
  padding: 30px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.footer {
  background: var(--footer-bgk);
  padding-top: 31px;
  padding-bottom: 23px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 1px var(--footer-hr);
          box-shadow: 0px 1px var(--footer-hr);
  padding-bottom: 15px;
}

.footer-top-tite {
  font-family: Myriad Pro;
  font-size: 30px;
  letter-spacing: 0em;
}

.footer-top-phone {
  width: 362px;
  height: 50px;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  padding-left: 30px;
  font-family: Myriad Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  margin-bottom: 7px;
}

.footer-top-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-top-data p {
  margin-left: 7px;
}

.footer-mid {
  padding: 25px;
  -webkit-box-shadow: 0px 1px var(--footer-hr);
          box-shadow: 0px 1px var(--footer-hr);
}

.footer-mid-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-mid-wrapper li a {
  font-family: Myriad Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  -webkit-transition: var(--transition-text);
  transition: var(--transition-text);
}

.footer-mid-wrapper li a:hover {
  -webkit-transform: scale(var(--scale-text-hover));
          transform: scale(var(--scale-text-hover));
}

.footer-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bot-title, .footer-bot-date, .footer-bot-author {
  font-family: Myriad Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
}

.footer-bot-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bot-nav ul li a {
  padding: 20px;
}
/*# sourceMappingURL=style.css.map */