* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.center {
  padding: 0 calc(50% - 585px);
}

.header__ul_historical {
  font-size: 30px;
  font-family: "MyriadProRegular";
  color: white;
  /* -moz-transform: matrix( 0.46578802306687,0,0,0.46578802306687,0,0);
        -webkit-transform: matrix( 0.46578802306687,0,0,0.46578802306687,0,0);
        -ms-transform: matrix( 0.46578802306687,0,0,0.46578802306687,0,0); */
}

.header__ul_games {
  font-size: 15px;
  font-family: "Poppins";
  color: white;
  /* -moz-transform: matrix( 0.46578802306687,0,0,0.46578802306687,0,0);
    -webkit-transform: matrix( 0.46578802306687,0,0,0.46578802306687,0,0);
    -ms-transform: matrix( 0.46578802306687,0,0,0.46578802306687,0,0); */
  letter-spacing: 23px;
}

.header {
  background: url(../img/main__top.png) no-repeat center;
  padding-top: 20px;
  height: 725px;
}

.fa-phone,
.fa-envelope {
  color: white;
  margin-right: 10px;
}

.fa-search {
  color: white;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__section {
  background: url(../img/top__block.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 85px;
}

.header__search {
  background: none;
  padding-left: 15px;
  padding-right: 20px;
  width: 160px;
  border: 1px solid;
  height: 30px;
  border: 1px solid white;
  color: white;
}

.header__word {
  font-size: 35.681px;
  font-family: "RobotoCondensed";
  color: white;
  /* -moz-transform: matrix( 0.46578802306687,0,0,0.46578802306687,0,0);
        -webkit-transform: matrix( 0.46578802306687,0,0,0.46578802306687,0,0);
        -ms-transform: matrix( 0.46578802306687,0,0,0.46578802306687,0,0); */
}

.header__midlle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom {
  border: 1px solid white;
  height: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__midlle_p {
  color: white;
}

.header__a {
  color: white;
}

.header__a1 {
  letter-spacing: 9px;
}

.common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right {
  margin-right: 50px;
}

.nav_ul > li > a,
.nav_ul > li {
  padding: 7px;
  margin: 5px;
  color: black;
}

.nav_ul > li > a:hover,
.nav_ul > li:hover {
  color: white;
}

.nav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 1px white;
          box-shadow: 0px 1px white;
}

.nav_ul > li:hover {
  -webkit-box-shadow: 0px 6px 0px 0px white;
          box-shadow: 0px 6px 0px 0px white;
}

.header__midst {
  -webkit-box-shadow: 0px 2px 0px 0px white;
          box-shadow: 0px 2px 0px 0px white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  padding: 10px;
  color: white;
}

.header__mist {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 130px;
}

.text__h1 {
  font-size: 60px;
  font-family: "Myriad Pro";
  color: white;
  text-align: center;
  margin-top: 90px;
}

.fa-twitter,
.fa-facebook,
.fa-wifi,
.fa-vk {
  color: white;
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.favicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 90px;
}

.fa-twitter:hover,
.fa-facebook:hover,
.fa-wifi:hover,
.fa-vk:hover {
  color: black;
  background: white;
}

.about {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 85px;
}

.about_h1 {
  font-size: 36px;
  font-family: "Poppins";
  color: #f44336;
  margin-bottom: 40px;
}

.about_p {
  font-size: 12px;
  font-family: "RobotoCondensed";
  color: #999999;
  line-height: 20px;
}

.about_p1 {
  margin-top: 40px;
}

.services {
  font-size: 36px;
  font-family: "Poppins";
  color: #f44336;
  text-align: center;
  padding-top: 100px;
}

.service {
  background-color: #f7f7f7;
  padding-bottom: 100px;
}

.services__h2 {
  font-size: 16px;
  font-family: "Poppins";
  color: #f44336;
  margin-bottom: 10px;
}

.services__p {
  font-size: 12px;
  font-family: "RobotoCondensed";
  color: #999999;
}

.flex_cener, .serveces__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.serveces__div_common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__img {
  padding: 45px;
  background: url(../img/ellipse.png) no-repeat center;
  margin-left: 60px;
  margin-right: 60px;
}

.gallery__top {
  font-size: 36px;
  font-family: "Poppins";
  color: #f44336;
  text-align: center;
  margin-top: 100px;
}

.gallery__p {
  font-size: 14px;
  font-family: "Poppins";
  color: black;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.gallery__img1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #f7f7f7;
}

.gallery__a {
  color: white;
  background-color: #f44336;
  padding: 5px 20px;
  display: table;
  margin: 0 auto;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 200px;
}

.comment {
  background: url(../img/lara.png) no-repeat center;
  height: 537px;
}

.comment__h1 {
  color: white;
  text-align: center;
  padding-top: 80px;
  font-size: 60px;
  padding-bottom: 60px;
  font-family: "Poppins";
}

.comment__h2 {
  font-size: 150px;
  text-align: center;
  color: white;
  line-height: 100px;
}

.comment__p {
  font-size: 14px;
  font-family: "RobotoCondensed";
  color: white;
  text-align: center;
  color: white;
}

.comment__p1 {
  text-align: center;
  font-size: 30px;
  font-family: "RobotoCondensed";
  color: white;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comment__span {
  font-size: 30px;
  font-family: "RobotoCondensed";
  color: #838383;
}

.comment_h1 {
  font-size: 24px;
  font-family: "Poppins";
  color: #f44336;
}

.comment__p {
  font-size: 16px;
  font-family: "RobotoCondensed";
  color: #838383;
  text-align: left;
}

.Team {
  margin-bottom: 80px;
}

.subscribe__h1 {
  font-size: 48px;
  font-family: "Poppins";
  color: white;
  text-align: center;
  color: white;
  padding-top: 80px;
  padding-bottom: 60px;
}

.subscribe {
  background: url(../img/main__top.png) no-repeat center -340px;
}

.subscribe__a {
  background-color: #f44336;
  padding: 10px 30px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-family: "RobotoCondensed";
  color: white;
  text-align: center;
}

.subscribe__email {
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
  width: 600px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 80px;
}

.connection__h1 {
  font-size: 36px;
  font-family: "Poppins";
  color: #f44336;
  font-weight: bold;
  text-align: center;
}

.connection {
  padding-top: 100px;
}

.connection__h6 {
  font-size: 20px;
  color: #f44336;
}

.connection__p, .connection__p1 {
  font-size: 14px;
  font-family: "RobotoCondensed";
  color: #838383;
}

.connection__input, .connection__input1 {
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  margin-bottom: 25px;
  width: 480px;
}

.connection__input1 {
  height: 90px;
}

.connection__common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.connection__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.connection__a {
  color: white;
  background-color: #f44336;
  padding: 10px 20px;
  margin: 0 auto;
}

.connection__p, .connection__p1 {
  font-size: 14px;
  font-family: "RobotoCondensed";
  color: #838383;
  margin-top: 10px;
}

.connection__p1 {
  color: #f44336;
}

.connection__h1_x2 {
  margin-top: 100px;
  margin-bottom: 40px;
}

.footer__p {
  font-size: 16px;
  font-family: "Arial";
  color: white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer {
  background-color: black;
  margin-top: 90px;
}

.favicon > a > i:hover {
  background-color: white;
}

.catalog {
  margin-bottom: 100px;
}

.catalog__div {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 20px;
  outline: 1px solid;
  -webkit-transition: transform .2s;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  will-change: transform;
}

.catalog__a {
  color: black;
  font-size: 35px;
  font-family: "RobotoCondensed";
}

.connection__h1 {
  margin-bottom: 100px;
}

.catalog__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 180px;
}

.catalog__dis {
  position: absolute;
  top: 150px;
  left: 110px;
}

.catalog__p {
  font-size: 18px;
  font-family: "Poppins";
  color: black;
  text-transform: uppercase;
}

.catalog__p1 {
  font-size: 36px;
  font-family: "Myriad Pro";
  color: #f44336;
}

.catalog__2 {
  font-size: 62px;
  font-family: "Poppins";
  color: black;
  margin-bottom: 30px;
}

.catalog__3 {
  font-size: 35px;
  font-family: "Poppins";
  color: #838383;
}

.catalog__a1 {
  padding: 20px 130px;
  background-color: #f44336;
  outline: 1px solid black;
  color: white;
  font-size: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-catalog {
  background: white;
  padding-top: 20px;
  height: 0px;
  padding-bottom: 170px;
}

.catalog__a1:hover {
  color: #f44336;
  background: white;
}

.header__search::-webkit-input-placeholder {
  color: white;
}

.header__search:-ms-input-placeholder {
  color: white;
}

.header__search::-ms-input-placeholder {
  color: white;
}

.header__search::placeholder {
  color: white;
}

.bgk_gray {
  background-color: #e8e8e8;
}

.content {
  background: #f7f7f7;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 180px;
}

.main__imgx4 {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main__imgx4 > img {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main__imgx4 > img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 170px;
}

.main__h1, .main__h1_span {
  font-size: 36px;
  font-family: "Poppins";
  color: black;
  line-height: 1;
  text-align: center;
}

.main__h1_span {
  color: #f44336;
}

.main__h2 {
  font-size: 62px;
  font-family: "Poppins";
  color: black;
  text-align: center;
  font-weight: inherit;
}

.main__p {
  font-size: 12px;
  font-family: "Myriad Pro";
  color: #838383;
}

.main__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f44336;
  padding: 20px;
  color: white;
  margin: 30px 0px 30px 0px;
}
/*# sourceMappingURL=style.css.map */