* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white-antique: #F4E6D7;
}

.custom-center {
    padding: 0 calc(50% - 1070px);
}

.custom-header-title {
    font-family: 'Aeroport';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    padding: 232px 0px 75px 0px;
}

.cutom-main-four-el-wrapper {}

.custom-bottom-img-text {
    margin-top: 50px;
    font-family: 'Aeroport';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    // text-align: center;
    text-transform: uppercase;
}

.cutom-main-four-el-container {
    background: var(--white-antique);
    margin: 0px 56px;
}

.cutom-main-four-el {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    max-width: 1338px;
    margin: 0 auto;
}

.cutom-main-one-el {
    width: 308px;
    height: 320px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.custom-main-bottom-text {
    padding: 80px 10px 260px 10px;
    font-family: 'Aeroport';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    max-width: 996px;
    margin: 0 auto;
}

.test {
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:1920px) and (max-width: 2137px) {
    .cutom-main-one-el {
        width: 308px;
        height: 286px;
    }

    div.cutom-main-one-el img {
        transform: scale(1);
    }

    .custom-header-title {
        font-size: 36px;
    }

    .cutom-main-four-el {
        max-width: 1340px;
    }
}

@media (min-width:1600px) and (max-width: 2136px) {
    .cutom-main-one-el {
        width: 238px;
        height: 262px;
    }

    div.cutom-main-one-el img {
        transform: scale(0.9);
    }

    .custom-main-bottom-text {
        font-size: 18px;
    }

    .cutom-main-four-el {
        max-width: 1196px;
    }
}

@media (min-width:1536px) and (max-width: 1599px) {
    .cutom-main-one-el {
        width: 227px;
        height: 250px;
    }

    .custom-main-bottom-text {
        font-size: 18px;
        padding: 80px 10px 230px 10px;
    }

    div.cutom-main-one-el img {
        transform: scale(0.8);
    }

    .cutom-main-four-el {
        max-width: 962px;
    }
}

@media (min-width:1440px) and (max-width: 1535px) {
    .cutom-main-one-el {
        width: 216px;
        height: 240px;
    }

    .custom-bottom-img-text {
        font-size: 18px;
        margin-top: 45px;
    }

    .custom-header-title {
        font-size: 32px;
    }

    .custom-main-bottom-text {
        font-size: 16px;
        padding: 80px 10px 210px 10px;
    }

    div.cutom-main-one-el img {
        transform: scale(0.7);
    }

    .cutom-main-four-el {
        max-width: 914px;
    }
}

@media (max-width:1534px) and (min-width: 1366px) {
    .cutom-main-one-el {
        width: 207px;
        height: 240px;
    }

    .custom-bottom-img-text {
        font-size: 18px;
        margin-top: 37px;
    }

    .custom-header-title {
        font-size: 32px;
    }
    .custom-main-bottom-text {
        font-size: 16px;
        padding: 80px 10px 200px 10px;
    }

    div.cutom-main-one-el img {
        transform: scale(0.7);
    }

    .cutom-main-four-el {
        max-width: 874px;
    }
}

@media (min-width:1280px) and (max-width: 1366px) {
    .cutom-main-one-el {
        width: 194px;
        height: 240px;
    }

    .custom-bottom-img-text {
        font-size: 18px;
        margin-top: 37px;
    }

    .custom-header-title {
        font-size: 30px;
        padding: 186px 0px 75px 0px;
    }

    .custom-main-bottom-text {
        font-size: 16px;
        padding: 80px 10px 185px 10px;
    }

    .cutom-main-four-el {
        max-width: 824px;
    }

    div.cutom-main-one-el img {
        transform: scale(0.7);
    }
}


@media (min-width:1024px) and (max-width: 1279px) {
    .cutom-main-one-el {
        width: 154px;
        height: 186px;
    }

    .cutom-main-four-el {
        max-width: 682px;
    }

    div.cutom-main-one-el img {
        transform: scale(0.7);
    }

    .cutom-main-four-el {
        max-width: 662px;
    }

    .custom-bottom-img-text {
        font-size: 18px;
        margin-top: 37px;
    }

    .custom-header-title {
        font-size: 28px;
        padding: 186px 0px 75px 0px;
    }

    .custom-main-bottom-text {
        font-size: 16px;
        padding: 80px 10px 105px 10px;
    }
}


@media (max-width:920px) {
    .cutom-main-four-el {
        flex-wrap: wrap;
    }
}


@media (min-width:576px) and (max-width: 1023px) {
    .cutom-main-one-el {
        width: 255px;
        height: 195px;
    }

    .cutom-main-four-el {
        max-width: 662px;
    }
    div.cutom-main-one-el img {
        transform: scale(0.5);
    }

    .custom-bottom-img-text {
        font-size: 18px;
        margin-top: 15px;
    }

    .custom-header-title {
        font-size: 25px;
        padding: 124px 0px 75px 0px;
    }

    .cutom-main-four-el-container {
        margin: 0;
    }

    .custom-main-bottom-text {
        font-size: 16px;
        padding: 80px 10px 59px 10px;
    }
}

@media (max-width: 575px) {
    .cutom-main-one-el {
        width: 147px;
        height: 147px;
    }
    .cutom-main-four-el {
        max-width: 528px;
    }
    .custom-bottom-img-text {
        font-size: 18px;
        // margin-top: 20px;
        margin-top: 0px;
    }

    .cutom-main-four-el-container {
        margin: 0;
    }

    div.cutom-main-one-el img {
        transform: scale(0.5);
    }

    .custom-main-bottom-text {
        font-size: 16px;
        padding: 80px 10px 40px 10px;
    }

    .custom-header-title {
        font-size: 25px;
        padding: 100px 0px 60px 0px;
    }
}

@media (max-width: 333px) {
    .cutom-main-one-el {
        width: 70%;
        height: 200px;
    }
}
