@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat.ttf);
}

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito-Bold.ttf);
}

@font-face {
  font-family: PTSans;
  src: url(../fonts/PTSans-Regular.ttf);
}

@font-face {
  font-family: PTSans-bold;
  src: url(../fonts/PTSans-bold.ttf);
}

@font-face {
  font-family: MontserratBold;
  src: url(../fonts/Montserrat-bold.ttf);
}

@font-face {
  font-family: MontserratSemiBold;
  src: url(../fonts/Montserrat-semiBold.ttf);
}

@font-face {
  font-family: MontserratMedium;
  src: url(../fonts/Montserrat-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat;
}

:root {
  --Dark-turquoise: #156963;
  --gray: #333333;
  --gray-white: #F2F2F2;
  --border-gray: #E0E0E0;
  --white: white;
  --dark-blue: #001E35;
  --form-border: #DBDEDF;
  --blue-frost: #E8F2FF;
  --blue-white-frost: #CCE1FE;
  --box-shodow-form: rgba(0, 0, 0, 0.15);
  --form-btn-close: #B5B8BE;
  --modal-win-shadow: rgba(155, 155, 155, 0.25);
  --site-load: 1s;
  --modal-time: 0.5s;
  --goods-refresh-time: 1s;
  --goods-time: 0.5s;
  --black: black;
  --light-blue: #CCE1FE;
  --slider-time: 1s;
}

html,
body {
  height: 100%;
}

footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body {
  -webkit-animation-duration: var(--site-load);
          animation-duration: var(--site-load);
  -webkit-animation-name: body;
          animation-name: body;
}

.body-wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style-type: none;
}

button {
  background: none;
  border: none;
}

.active {
  overflow: hidden;
}

.center {
  padding: 0 calc(50% - 640px);
}

.nav {
  height: 0;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 56px 0px 56px;
}

.nav ul li {
  z-index: 2;
}

.nav__btn {
  background: var(--Dark-turquoise);
  color: var(--white);
  width: 111px;
  height: 36px;
  border: none;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: var(--goods-time);
  transition: var(--goods-time);
}

.nav__img {
  -webkit-transition: var(--goods-time);
  transition: var(--goods-time);
}

.header {
  position: relative;
}

.header__title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.header__right {
  margin-top: 142px;
}

.header__right-title, .header__right-desc {
  max-width: 523px;
  margin-left: 45px;
}

.header__right-title {
  font-size: 68px;
  font-style: normal;
  font-weight: 500;
  line-height: 83px;
  color: var(--Dark-turquoise);
  margin-bottom: 24px;
  font-family: MontserratMedium;
}

.header__right-desc {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 493px;
  max-height: 96px;
  overflow: hidden;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 106px;
}

.slider-next, .slider-previous {
  width: 320px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 60px;
  cursor: pointer;
  -webkit-transition: var(--goods-time);
  transition: var(--goods-time);
}

.slider-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 97px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  color: var(--gray);
  -webkit-transition: var(--goods-time);
  transition: var(--goods-time);
  font-family: MontserratMedium;
}

.slider-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  -webkit-transition: var(--goods-time);
  transition: var(--goods-time);
}

.slider-title-left, .slider-title-right {
  color: var(--Dark-turquoise);
  background-color: var(--white);
  font-family: MontserratMedium;
}

.arrow-right,
.arrow-left {
  -webkit-transition: var(--goods-time);
  transition: var(--goods-time);
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 145px 20px 0px 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.information__element {
  width: 268px;
  min-height: 155px;
  padding: 25px;
  border: 1px solid var(--border-gray);
  margin: 10px 5px;
}

.information__title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  width: 201px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  color: var(--Dark-turquoise);
  font-family: MontserratBold;
}

.information__title-name {
  width: 90px;
}

.information__desc {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.information-img {
  margin-right: 20px;
}

.plants {
  margin: 90px 20px 0px 20px;
}

.plants__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
  -webkit-box-shadow: 0px 1px var(--border-gray);
          box-shadow: 0px 1px var(--border-gray);
  margin: 0px 5px 0px 5px;
}

.plants-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  font-family: MontserratMedium;
}

.plants__element {
  margin: 25px 5px 20px 5px;
  text-align: center;
  -webkit-transition: var(--goods-time);
  transition: var(--goods-time);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plants__element-animated {
  -webkit-animation-duration: var(--goods-refresh-time);
          animation-duration: var(--goods-refresh-time);
  -webkit-animation-name: goodsSort;
          animation-name: goodsSort;
}

.plants__element-title, .plants__element-price {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  max-height: 55px;
  overflow: hidden;
}

.plants__element-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 18px auto 10px auto;
}

.plants__element-price {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  font-family: MontserratSemiBold;
}

.plants-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 24px;
}

.plants__drop-menu {
  -webkit-appearance: none;
  padding: 8px 36px 8px 12px;
  font-size: 12px;
  -moz-appearance: none;
       appearance: none;
  font-style: normal;
  outline: none;
  font-weight: 500;
  border: 1px solid var(--border-gray);
  position: relative;
  cursor: pointer;
  background: url(../img/arrow-down.svg) no-repeat 110px;
  font-family: MontserratMedium;
}

.plants__element:focus,
.plants__drop-menu:focus,
.slider-btn:focus,
.nav__btn:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px var(--border-gray), 0px 0px 10px var(--border-gray);
          box-shadow: 0px 0px 0px var(--border-gray), 0px 0px 10px var(--border-gray);
}

.footer {
  height: 350px;
}

.modal-win {
  min-width: 450px;
  min-height: 400px;
  max-width: 470px;
  padding-bottom: 30px;
  text-align: center;
  position: relative;
  background: var(--white);
  -webkit-box-shadow: 3px 3px 16px 3px var(--modal-win-shadow);
          box-shadow: 3px 3px 16px 3px var(--modal-win-shadow);
  border-radius: 9px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  -webkit-animation-duration: var(--modal-time);
          animation-duration: var(--modal-time);
  -webkit-animation-name: modal-win;
          animation-name: modal-win;
  overflow: auto;
  max-height: 700px;
}

.modal-win-hide {
  -webkit-animation-duration: var(--modal-time);
          animation-duration: var(--modal-time);
  -webkit-animation-name: modal-hide;
          animation-name: modal-hide;
}

.modal-win-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 20;
  display: none;
}

.modal-win-wrapper-active {
  display: block;
}

.modal-win-img {
  background: var(--dark-blue);
  padding: 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 50px;
  margin-top: 40px;
}

.modal-win-text {
  margin: 20px 0px 40px 0px;
}

.modal-win-title {
  font-family: PTSans-bold;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
}

.modal-win-desc {
  font-family: PTSans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 390px;
  margin: 0 auto;
}

.modal-win-name, .modal-win-num {
  height: 40px;
  width: 389px;
  border-radius: 15px;
  padding: 9px 9px 9px 16px;
  border: 1px solid var(--form-border);
  margin-bottom: 15px;
  font-family: PTSans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.modal-win-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 390px;
  margin: 0 auto;
}

.modal-win-submit {
  border: 1px solid var(--blue-frost);
}

.modal-win-cancel, .modal-win-submit {
  height: 40px;
  width: 186px;
  border-radius: 15px;
  padding: 10px;
  background: var(--white);
  border: 1px solid var(--blue-white-frost);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 3px var(--box-shodow-form);
          box-shadow: 0px 2px 3px var(--box-shodow-form);
  border-radius: 16px;
  cursor: pointer;
  -webkit-transition: var(--modal-time);
  transition: var(--modal-time);
  font-family: PTSans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.modalDaective {
  display: none;
}

.modal-win-btn-close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--modal-time);
  transition: var(--modal-time);
}

.modal-win-btn-close:before,
.modal-win-btn-close:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  background: var(--form-btn-close);
}

.modal-win-btn-close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-win-btn-close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-win-check {
  display: none;
}

@-webkit-keyframes modal-win {
  from {
    opacity: 0;
    top: -200px;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}

@keyframes modal-win {
  from {
    opacity: 0;
    top: -200px;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}

@-webkit-keyframes modal-hide {
  from {
    top: 50%;
    opacity: 1;
  }
  to {
    top: -200px;
    opacity: 0;
  }
}

@keyframes modal-hide {
  from {
    top: 50%;
    opacity: 1;
  }
  to {
    top: -200px;
    opacity: 0;
  }
}

@-webkit-keyframes body {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes body {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes goodsSort {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes goodsSort {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.table-wrapper {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table {
  border-collapse: collapse;
  -webkit-animation-duration: var(--site-load);
          animation-duration: var(--site-load);
  -webkit-animation-name: body;
          animation-name: body;
}

.table td {
  padding: 7px;
  border: none;
  font-size: 15px;
}

.table thead tr {
  background-color: var(--gray-white);
}

.table tbody tr:nth-child(even) {
  background: var(--gray-white);
}

.spin-wrapper-active {
  display: none;
}

.spin-wrapper {
  z-index: 222;
  position: relative;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.spin-wrapper .spinner {
  position: absolute;
  height: 60px;
  width: 60px;
  border: 3px solid transparent;
  border-top-color: #A04668;
  top: 50%;
  left: 50%;
  margin: -30px;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.spin-wrapper .spinner:before, .spin-wrapper .spinner:after {
  content: '';
  position: absolute;
  border: 3px solid transparent;
  border-radius: 50%;
}

.spin-wrapper .spinner:before {
  border-top-color: #254E70;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}

.spin-wrapper .spinner:after {
  border-top-color: #FFFBFE;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
}

.checkValid {
  margin-top: 20px;
  display: block;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header__left {
  max-width: 608px;
}

.slider-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 0;
  -webkit-transition: all ease var(--slider-time);
  transition: all ease var(--slider-time);
}

.slider-line img {
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-elem {
  overflow: hidden;
}

.slider-line img:nth-child(2n) {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.body-wrapper-filter {
  -webkit-transition: var(--modal-time);
  transition: var(--modal-time);
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

@media (min-width: 1024px) and (max-width: 1150px) {
  .slider-next,
  .slider-previous {
    height: 119px;
  }
  .slider-btn {
    width: 100%;
  }
  .slider {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__right {
    margin-top: 87px;
  }
  .header__right-desc {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1154px) {
  .plants-shop,
  .information {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 1250px) {
  .header__left {
    max-width: 500px;
  }
  .slider-line {
    width: 2000px;
  }
  .slider-line img {
    width: 500px;
  }
  .header__right-title,
  .header__right-desc {
    margin-right: 10px;
  }
}

.nav__btn:active,
.nav__img:active {
  -webkit-filter: drop-shadow(0px 0px 5px black);
          filter: drop-shadow(0px 0px 5px black);
}

.slider-btn:active,
.plants__element:active {
  -webkit-box-shadow: 0px 0px 0px var(--gray), 0px 0px 20px var(--gray);
          box-shadow: 0px 0px 0px var(--gray), 0px 0px 20px var(--gray);
}

@media (min-width: 769px) {
  .slider-btn:hover,
  .slider-btn:hover .slider-title {
    background: var(--Dark-turquoise);
    color: var(--white);
  }
  .slider-btn:hover .arrow-left,
  .slider-btn:hover .arrow-right {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  .slider-btn:hover .slider-text {
    color: var(--gray-white);
    opacity: 0.5;
  }
  .modal-win-cancel:hover,
  .modal-win-submit:hover {
    background: var(--light-blue);
  }
  .plants__element:hover,
  .nav__btn:hover,
  .nav__img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .modal-win-btn-close:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=style.css.map */