* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.main__a_ {
  margin-top: 61px;
  -webkit-transition: .5s;
  transition: .5s;
}

.header {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.84%, #98C3E8), color-stop(35%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, #98C3E8 0.84%, rgba(152, 195, 232, 0) 35%);
}

.header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo, .header__i {
  padding: 10px 20px 10px 20px;
}

.header__midlle {
  width: 100%;
  position: relative;
}

.header__midlle > h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  text-align: center;
}

.header__midlle > p {
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  padding-bottom: 40px;
}

.header__midlle > button {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  background: #5A98D0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 13px 27px 13px 27px;
  border: none;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: relative;
  left: 50%;
  margin-bottom: 45px;
}

.main1 {
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.main__h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  text-align: center;
}

.main__p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
  padding-top: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.main__a {
  color: #5A98D0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 135px;
}

.second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 17px;
}

.second1__img {
  margin-bottom: 17px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  background-size: cover;
  height: 125px;
  margin-bottom: 17px;
}

.second1__img2 {
  height: 255px;
  margin: 0 auto;
  width: 270px;
  background-size: cover;
}

.second1__img3 {
  height: 255px;
  margin: 0 auto;
  width: 270px;
  position: relative;
  background-size: cover;
}

.second__sparki {
  position: absolute;
  left: 16px;
  top: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
}

.second__car {
  z-index: 2;
  position: absolute;
  left: 16px;
  top: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
}

.second__smart {
  z-index: 2;
  position: absolute;
  right: 16px;
  top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
}

.hero {
  display: none;
}

.ManWithPaper {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: relative;
  left: 50%;
  margin-bottom: 50px;
  padding-top: 40px;
}

.blockName {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

.container {
  position: relative;
  margin-bottom: 17px;
}

.Group {
  position: absolute;
  left: 25px;
}

.blockInfo {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 85px;
}

.footer {
  background: #316099;
}

.footer__h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 40px;
}

.footer__p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
  text-align: center;
}

.footer__btn {
  background: #5A98D0;
  font-family: Roboto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.04em;
  margin: 0 auto;
  border: none;
  display: block;
  width: 108px;
  margin: 40px auto 0px auto;
  padding: 5px 10px 5px 10px;
  color: white;
}

.footer__ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__ol > li {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  list-style-type: decimal;
  padding-bottom: 10px;
}

.footer__p1 {
  font-family: Roboto;
  margin-top: 40px;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
}

.open, .nav__close {
  color: #356EAD;
  font-size: 36px;
}

.open ~ .nav__close, .nav__close ~ .nav__close {
  visibility: hidden;
}

.nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: #234567;
  z-index: 5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.nav__close {
  position: absolute;
  right: 23px;
  top: 15px;
  z-index: 5;
  position: fixed;
}

.nav__link {
  color: white;
}

#switcher {
  position: absolute;
  visibility: hidden;
  left: -9999999px;
}

#switcher:checked ~ .nav {
  left: 0;
}

#switcher:checked ~ .nav__close {
  right: 24px;
  visibility: visible;
}

.blockInfo_ {
  display: none;
}

.main1 {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  margin-top: 30px;
}

.main__a_ {
  margin-top: 62px;
}

/*------------Contact------------*/
.contact {
  background: url(img/bck_contact.png) no-repeat center;
  background-size: cover;
}

.head__contact-h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.04em;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

.head__contact-h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: white;
  text-align: center;
  padding-bottom: 80px;
}

.Woman__adaptive {
  padding-top: 40px;
  margin: 0 auto;
  display: block;
  padding-bottom: 70px;
}

.contact__h1-adaptive {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.contact__p-adaptive {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
}

.contact__adaptive-section_ {
  margin: 0 auto;
  display: table;
  text-align: left;
}

.contact__p-adaptive_ {
  padding: 20px 0px 20px 0px;
}

.contact__h1-adaptive_ {
  padding-bottom: 20px;
}

.contact__p-adaptive_ {
  padding: 20px 0px 20px 0px;
}

.map {
  padding-top: 32px;
  padding-bottom: 32px;
}

.prefooter-contact {
  background: #316099;
}

.contact__adaptive_inp {
  padding-left: 20px;
  opacity: 0.4;
  border: 1px solid #356EAD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  height: 30px;
  padding-right: 20px;
}

.main-contact__adaptive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 36px 30px 36px 30px;
  -webkit-transition: 1s;
  transition: 1s;
}

.main-contact__adaptive_p {
  margin-top: 20px;
}

.main__adaptive_textarea {
  padding-left: 20px;
  opacity: 0.4;
  border: 1px solid #356EAD;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.main-contact__adaptive_h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.main-contact__adaptive_btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background-color: #5A98D0;
  margin-top: 45px;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  border: none;
  padding-top: 15px;
  -webkit-transition: 1s;
  transition: 1s;
  padding-bottom: 15px;
}

.map_ {
  display: none;
}

/*------------End contact------------*/
@media (max-width: 1920px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__link {
    padding: 9px;
    display: block;
    font-size: 36px;
    margin: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media (min-width: 768px) {
  .main1 {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto;
    margin-top: 30px;
  }
  .main-contact__adaptive {
    padding: 36px 80px 36px 80px;
  }
  .center {
    padding: 0 calc(50% - 500px);
  }
  .second1__img {
    height: 300px;
    width: 705px;
    padding-bottom: 32px;
  }
  .second1__img2, .second1__img3 {
    width: 336px;
    height: 253px;
  }
  .free_space {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 705px;
  }
  .blockName {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05em;
  }
  .blockInfo_ {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05em;
    display: block;
    margin-bottom: 85px;
    text-align: center;
  }
  .blockInfo {
    display: none;
  }
  .footer__ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__p {
    text-align: left;
  }
  .footer__h1 {
    font-family: Roboto;
    font-size: 36px;
    text-align: left;
  }
  .hero {
    position: absolute;
    margin: 160px calc(50% - 0px);
    display: block;
  }
  .header__midlle {
    padding-bottom: 190px;
  }
  .header__midlle > h1 {
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: left;
  }
  .header__midlle > p {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: left;
  }
  .header__midlle {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0px auto;
  }
  .header__midlle > button {
    left: 7%;
    margin-left: 32px;
    padding: 13px 40px 13px 40px;
  }
}

@media (min-width: 1920px) {
  .header__i,
  .nav,
  .nav__close {
    display: none;
  }
  .fas {
    -webkit-transition: all .4s;
    transition: all .4s;
  }
}

@media (min-width: 1440px) {
  .main__adaptive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .head__contact-h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.04em;
  }
  .head__contact-h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.04em;
  }
  .map_ {
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .map {
    display: none;
  }
  .adaptive__div_ {
    margin-right: 70px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .contact__adaptive-section_ {
    padding-top: 130px;
  }
  .Woman__adaptive {
    display: none;
  }
  .adaptive__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 calc(50% - 400px);
  }
  .center__adaptive,
  .nav__close {
    padding: 0 calc(50% - 600px);
  }
  .footer__ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 calc(50% - 600px);
  }
  .second1__img {
    width: calc(0% - -1140px);
    height: 480px;
  }
  .second1__img3,
  .second1__img2 {
    width: 500px;
    height: 400px;
  }
  .free_space {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .adaptive__page {
    margin-left: 140px;
  }
  .hero {
    margin: 140px calc(50% - -80px);
  }
  .footer_tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=style.css.map */